body{
    padding: 0%;
    margin: 0%;
}
.hero{
    background-image: url(./images/background_img.jpg);
    height:100vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
    box-shadow: inset 100px 130px 250px #000000,inset -100px -130px 250px #000000;
}
.logoimg{
    width: 100%;
}
.logo{
    width:138px;
}
.align{
    display:flex;
    justify-content: space-between;
    padding: 21px 51px;
}
.lang{
height:6vh;
width:8vw;
}
.signin{
    text-decoration:none;
    color: white;
}
.signin:hover{
    text-decoration:none;
    color: white;
}
.btn-signin{
    height:5vh;
    width: 5vw;
    border-radius:4px 4px 4px 4px;
    background-color: red;
    /* padding-top:0.1%; */
    /* margin-top:7.5%; */
    /* margin-right:20px; */
}
.align1{
   color: white;

}
.input{
    display: flex;
    /* width: 80px; */
    /* height: 20vh; */
}